In [17]:
from tensorflow.keras.layers import Input, Embedding, Flatten, Dot, Dense, Concatenate
from tensorflow.keras.models import Model

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [19]:
df = pd.read_csv('data/ratings.csv')

In [20]:
df

        book_id  user_id  rating
0             1      314       5
1             1      439       3
2             1      588       5
3             1     1169       4
4             1     1185       4
...         ...      ...     ...
981751    10000    48386       5
981752    10000    49007       4
981753    10000    49383       5
981754    10000    50124       5
981755    10000    51328       1

[981756 rows x 3 columns]

In [21]:
y = df['rating']  # Целевая переменная (рейтинги)
X = df.drop('rating', axis=1)  # Признаки, исключаем рейтинг

# Разбиваем на тренировочные и тестовые выборки
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
X_train

        book_id  user_id
341848     3423     4608
964349     9811    36373
645459     6485     2957
74960       750    42400
358670     3591    36886
...         ...      ...
259178     2594    26266
365838     3663    27212
131932     1320    31839
671155     6746    34952
121958     1220    32923

[785404 rows x 2 columns]

In [23]:
n_books = len(X['book_id'].unique())
n_books

10000

In [24]:
n_users = len(X['user_id'].unique())
n_users

53424

In [25]:
book_input = Input(shape=[1], name="Book-Input")
book_embedding = Embedding(n_books+1, 5, name="Book-Embedding")(book_input)
book_vec = Flatten(name="Flatten-Books")(book_embedding)

In [26]:
user_input = Input(shape=[1], name="User-Input")
user_embedding = Embedding(n_users+1, 5, name="User-Embedding")(user_input)
user_vec = Flatten(name="Flatten-Users")(user_embedding)

In [27]:
conc = Concatenate()([book_vec, user_vec])
conc

In [28]:
fc1 = Dense(128, activation='relu')(conc)
fc2 = Dense(32, activation='relu')(fc1)
out = Dense(1)(fc2)
out

In [29]:
model2 = Model([user_input, book_input], out)
model2

In [34]:
model2.compile(optimizer = 'adam',loss =  'mean_squared_error')